{% extends 'layout.html' %}
{% block extrahead %}

{% endblock %}
{% block body %}

<article class="content">
				<div>
					<!-- content here -->
					<div class="inner-header">
						<div class="inner-inner">
							<h1>Main Details</h1>
						</div>
					</div>

					<div class="container table">
						<div class="component">

							<div class="row">
								<div class="col-xs-6">
									<img class="profilepic" src="{{ object.biometric.image.url }}">
									<p class="leftdetails" id="expired">{{ object.license_status }}</p>
								</div>
								<div class="col-xs-6">
									<h2>{{ object.full_name | title }}</h2>
									<p class="rightdetails">Currently Employed at:<p class="headvalue">
										{% if object.mallworker %}
										<a href="{% url 'malls_solo' object.mallworker.mall.pk %}">{{ object.mallworker.mall.mall | title }}</a>
										{% else %}
										None
										{% endif %}</p></p>
									<p class="rightdetails">Security License #:<p class="headvalue">{{ object.security_license_number }}</p></p>
								</div>
							</div>

							<table>
								<thead>
									<tr>
										<th class="headmaintitle">Title</th>
										<th class="headmaindesc">Description</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="firstname">First Name</td>
										<td>{{ object.firstname | title }}</td>
									</tr>

									<tr>
										<td class="middlename">Middle Name</td>
										<td>{{ object.middlename | title }}</td>
									</tr>

									<tr>
										<td class="lastname">Last Name</td>
										<td>{{ object.lastname | title }}</td>
									</tr>

									<tr>
										<td class="sex">Sex</td>
										<td><a href="#">{{ object.sex }}</a></td>
									</tr>

									<tr>
										<td class="age">Age</a></td>
										<td>{{ object.age }}</td>
									</tr>

									<tr>
										<td class="dateofplace">Date of Birth</td>
										<td>{{ object.date_of_birth }}</td>
									</tr>

									<tr>
										<td class="placeofbirth">Place of Birth</a>
										<td><a href="#">{{ object.place_of_birth }}</a></td>
									</tr>

									<tr class="addressout">
										<td class="address">Present Address</td>
										<td>{{ object.present_address }}</td>
									</tr>

									<tr>
										<td class="height">Height</td>
										<td><a href="#">{{ object.height }}</a></td>
									</tr>

									<tr>
										<td class="weight">Weight</td>
										<td><a href="#">{{ object.weight }}</a></td>
									</tr>

									<tr>
										<td class="maritalstatus">Marital Status</td>
										<td><a href="#">{{ object.marital_status }}</a></td>
									</tr>

									<tr>
										<td class="licensesucuritynumber">License Security #</td>
										<td>{{ object.security_license_number }}</td>
									</tr>

									<tr>
										<td class="dateissued">Date Issued</td>
										<td>{{ object.date_issued }}</td>
									</tr>

									<tr>
										<td class="dateofexpiration">Date of Expiration</td>
										<td>{{ object.date_of_expiration }}</td>
									</tr>
									

									<tr>
										<td class="agency">Agency</td>
										<td><a href="{% url 'agency_solo' object.agency.id %}">SAF Agency</a></td>
									</tr>

									<tr>
										<td class="employedin">Employed in</td>
										<td>{% if object.mallworker %}
											<a href="{% url 'malls_solo' object.mallworker.mall.pk %}">{{ object.mallworker.mall.mall | title }}</a>
											{% else %}
											<span class="danger">None</span>
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
					</div><!-- /cont table -->
					<!-- BIOMETRIC -->
					<div class="inner-header">
						<div class="inner-inner">
							<h1>Biometric Details</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 centerdiv">
							<h3 class="title2">Left</h3>
							<div class="thumbpic">
								<img src="{{ object.biometric.right_pinky_finger.url }}" alt="">
								<p class="thumbtitle">Left Pinky</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.left_ring_finger.url }}" alt="">
								<p class="thumbtitle">Left Ring</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.left_middle_finger.url }}" alt="">
								<p class="thumbtitle">Left Middle</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.left_pointing_finger.url }}" alt="">
								<p class="thumbtitle">Left Pointing</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.left_thumb.url }}" alt="">
								<p class="thumbtitle">Left Thumb</p>
							</div>
						</div>
						<div class="col-xs-6 centerdiv">
							<h3 class="title2">Right</h3>
							<div class="thumbpic">
								<img src="{{ object.biometric.right_pinky_finger.url }}" alt="">
								<p class="thumbtitle">Right Pinky</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.right_ring_finger.url }}" alt="">
								<p class="thumbtitle">Right Ring</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.right_middle_finger.url }}" alt="">
								<p class="thumbtitle">Right Middle</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.right_pointing_finger.url }}" alt="">
								<p class="thumbtitle">Right Pointing</p>
							</div>
							<div class="thumbpic">
								<img src="{{ object.biometric.right_thumb.url }}" alt="">
								<p class="thumbtitle">Right Thumb</p>
							</div>
						</div>
					</div><!-- /BIOMETRIC -->
					<!-- EMPLOYMENT HISTORY -->
					<div class="container table">
						<div class="component">

							<div class="inner-header">
								<div class="inner-inner">
									<h1>Employment History</h1>
								</div>
							</div>

							<table>
								<thead>
									<tr>
										<th>Company</th>
										<th>Position</th>
										<th>Date Started</th>
										<th>Date Finised</th>
									</tr>
								</thead>
								<tbody>
									{% for emp in object.employment_set.all %}
									<tr>
										<td><a href class="#">{{ emp.place }}</td>
										<td>{{ emp.position }}</td>
										<td>{{ emp.date_started }}</td>
										<td>{{ emp.date_finished }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
					</div><!-- /EMPLOYMENT -->
					<!-- EDUCATION -->
					<div class="container table">
						<div class="component">

							<div class="inner-header">
								<div class="inner-inner">
									<h1>Education</h1>
								</div>
							</div>

							<table>
								<thead>
									<tr>
										<th>Title</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									{% for edu in object.school_set.all %}
									<tr>
										<td>{{ edu.category | title }}</td>
										<td>{{ edu.year_graduated }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!-- /EDUCATION -->
					<!-- FAMILY -->
					<div class="container table">
						<div class="component">

							<div class="inner-header">
								<div class="inner-inner">
									<h1>Family</h1>
									{% if not object.spouse_set.all %}
									<h2>No Spouse</h2>
									{% else %}
								</div>
							</div>

							<table>
								<thead>
									<tr>
										<th>Spouse</th>
										<th>Birthday</th>
										<th>Occupation</th>
										<th>Address</th>
									</tr>
								</thead>
								<tbody>
									{% for spouse in object.spouse_set.all %}
										<tr>
											<td>{{ spouse.spouse_name | title }}</td>
											<td>{{ spouse.spouse_bday }}</td>
											<td>{{ spouse.spouse_occupation }}</td>
											<td>{{ spouse.spouse_address }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
							{% if not object.children_set.all %}
							<h2>No Children</h2>
							{% else %}
							<h3>Children</h3>
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Birthday</th>
									</tr>
								</thead>
								<tbody>
									{% for child in object.children_set.all %}
									<tr>
										<td>{{ child.name }}</td>
										<td>{{ child.date_of_birth }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
					</div><!-- /FAMILY -->

				</div><!-- /content -->	
			</div>
		</article>

		<div class="footer">
			<div class="footerinside">
				<p>© Eulisis 2015 - v1.0</p>
			</div>
		</div>





{% endblock %}