{% extends 'layout.html' %}

{% block body %}

<article class="content">
	<div>
		<!-- content here -->
		<div class="inner-header">
			<div class="inner-inner">
				<h1>Mall:<p class="headvalue"> {{ mall | title }}</p></h1>
				
			</div>
		</div>
		<div class="container table">
			<div class="component">
				<h2>Total Workers:<p class="headvalue"> {{ objects.count }}</p></h2>
				{% if objects %}
				<table>
					<thead class="headmallopen">
						<tr>
							<th>Name</th>
							<th>ID</th>
							<th>Mall Working</th>
							<th>Agency</th>
						</tr>
					</thead>
					<tbody>
						{% for object in objects %}
						<tr>
							<td><a href="{% url 'workers_solo' object.worker.id %}">{{ object.worker.full_name | title }}</a></td>
							<td>{{ object.worker.id }}</td>
							<td>{{ object.worker.mallworker.mall.mall | title }}</td>
							<td><a href="{% url 'agency_solo' object.worker.agency.id %}">{{ object.worker.agency | title }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div><!-- /component -->
		</div><!-- /cont table -->
	</div><!-- /content -->	
</article>
<div class="footer">
	<div class="footerinside">
		<p>© Eulisis 2015 - v1.0</p>
	</div>
</div>
{% else %}
<h2>empty</h2>
{% endif %}

{% endblock %}