{% extends 'layout.html' %}

{% block body %}
<div class="container">
	<h1>Mall: {{ mall | title }} <span class="muted"><h2>Number of workers {{ objects.count }}</h2></span></h1>
	
	{% if objects %}
	
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>ID</th>
			<th>Mall Working</th>
			<th>Agency</th>
			
		</tr>
		</thead>
		<tbody>
		
				{% for object in objects %}
					<tr>
				<td><a href="{% url 'workers_solo' object.worker.id %}">{{ object.worker.full_name | title }}</a></td>
				<td>{{ object.worker.id }}</td>
				<td>{{ object.worker.mallworker.mall.mall | title }}</td>
				<td><a href="{% url 'agency_solo' object.worker.agency.id %}">{{ object.worker.agency | title }}</a></td>
				</tr>
				{% endfor %}
			
		</tbody>
	</table>


	
		
	{% else %}
	<h2>empty</h2>

	{% endif %}
</div>

{% endblock %}