<!doctype html>
<html lang="en" ng-app>
<head>
<meta charset="utf-8">
<title>forms</title>
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<link rel="shortcut icon" href="static/img/own/favicon.png">
<link rel="stylesheet" type="text/css" href="{% static 'static/css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'static/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'static/css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'static/css/chino.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'static/css/tables.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'static/font-awesome-4.3.0/css/font-awesome.min.css' %}" />
{% block extrahead %}

{% endblock %}

</head>
<body class="demo-1">
	<div class="logo-container"> 
		<a href="index.html" class="logo"><img src="{% static 'static/img/own/logowhite.png' %}" alt="Logo"></a>
		<a class="rightmenu" href="#">Sign in</a>
	</div>

	<div class="head"></div>
	<!--			 ->
	   <-NAVIGATION->
	<- 				-->
	<nav class="nav-container">
		<ul class="nav">
			<li>
				<a href="{% url 'home' %}"><i class="fa fa-tachometer fa-2x"></i>Dashboard</a>
			</li>

			<li>
				<a href="{% url 'workers' %}"><i class="fa fa-users fa-2x"></i>Workers</a>
			</li>

			<li>
				<a href="{% url 'malls' %}"><i class="fa fa-building fa-2x"></i>Malls</a>
			</li>

			<li>
				<a href="{% url 'agency' %}"><i class="fa fa-university fa-2x"></i>Agencies</a>
			</li>
		</ul> <!-- nav -->
	</nav> <!-- nav-container -->

	{% block body %}
	{% endblock %}


</body>
</html>
